* {
	box-sizing: border-box;
	font-family: sans-serif;
}
.form-con {
	width: 50%;
	height: auto;
	margin: auto;
	text-align: center;
	margin-bottom: 50px;
}
input {
	width: 100%;
	border: 1px solid gray;
	padding: 10px 15px 10px 15px;
	margin-bottom: 15px;
	border-radius: 3px;
	background-color: white;
	font-size: 15px;
}
button {
	width: 100%;
	border: 1px solid gray;
	padding: 10px 15px 10px 15px;
	border-radius: 3px;
	background-color: white;
	font-size: 15px;
}
button:hover {
	cursor: pointer;
}